.block {
    padding: 0px 5px 5px 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    width: 60px;
    height: 40px;
    background-color:skyblue;
    border: 2px solid black;
}
.block.hovered {
    background-color: rgb(255, 156, 26);
}
.mdiv{
    margin-bottom: 60px;
    margin-left: 50px;
}
.block1{
    width: 200px;
    height: 100px;
    background: skyblue;
    margin: 10px;
     margin-left: 50px;
    text-align: center;
    line-height: 100px;
}
.block2{
    width: 200px;
    height: 100px;
    background: skyblue;
    margin: 10px;
     margin-left: 50px;
    text-align: center;
    line-height: 100px;
}
.block3{
    width: 200px;
     height: 100px;
    background: skyblue;
    margin: 10px;
     margin-left: 50px;
    text-align: center;
    line-height: 100px;
}
.add-section{
    margin-top: 50px;
    margin-left: 50px;
}

        table {
            border-collapse: collapse;
            width: 100%;
            margin: 20px 0;
        }
        th, td {
            border: 1px solid #999;
            padding: 12px 20px;
            text-align: center;
            cursor: pointer;
        }
        th {
            background-color: #ddd;
            cursor: default;
        }
        /* Класс для зеленого цвета */
        td.green {
            background-color: green;
            color: white;
        }